# Entornos virtuales (MUY IMPORTANTE)
venv/
env/
.env/
ecommerce-scrappper-env/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Carpeta de configuración de VS Code o editores
.vscode/
.idea/

# Archivos de datos generados (opcional, si no quieres subir tus resultados)
*.csv
*.json
